.newComponent {
  margin: 0;
  background-color: black;
  color: aquamarine;
  border: 1px solid aquamarine;
  width: fit-content;
  border-radius: 12px;
  padding: 7px;
  box-shadow: 3px 3px 7px black;
}
